---
const datos = {
    Ceremonia: "Parroquia San Luis Gonzaga De Villanueva",
    UrlCeremonia:"https://www.google.com/maps?gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQLhhA0gEIMjQwN2owajGoAgCwAgA&um=1&ie=UTF-8&fb=1&gl=co&sa=X&geocode=KQXSIWgpyWmOMe_wQtnc9FUp&daddr=a+14-96,,+Cl.+14+%2314-2,+Villanueva,+Santander",
    HoraCeremonia: "2:00 p.m" ,
    Fecha: "09 Agosto de 2025" ,
    LugarRecepcion: "Hotel Las Rocas Resort Villanueva" ,    
   UrlComoLlegar: "https://www.google.com/maps?gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQLhhA0gEHNzkxajBqMagCALACAA&um=1&ie=UTF-8&fb=1&gl=co&sa=X&geocode=KR9WNx0ryWmOMTj91Qlq7xEo&daddr=Calle+11+%23+16+impar,+Villanueva,+Santander" ,
    HoraRecepcion: "3:00 p.m - 10:00 p.m" ,
    Frase: "Jesús, danos la gracia de vivir unidos en el amor que brota de ti. Enséñanos a progresar mutuamente bajo tu mirada, a cumplir tu voluntad todos los días de nuestra vida, a consultarte nuestros proyectos y a pedir tu ayuda. Que sepamos ofrecerte nuestras alegrías y nuestras penas, y guiar hacia ti a los hijos que nos regales."
    
}
---

<div class="h-dvh flex flex-col items-center justify-center mx-12">
    <h3 class="font-bold text-center text-6xl ">Frase</h3>
    <p class="text-2xl text-center text-wrap">{datos.Frase}</p>
</div>


<div class="h-dvh bg-white flex flex-col  justify-center items-center">
    <h2 class="text-center text-2xl m-3">Información de la Boda</h2>
        <div>
            <h3 class="font-bold text-center">Ceremonia</h3>
            <a href={datos.UrlCeremonia}>{datos.Ceremonia}</a>
        </div>
        <div class="text-center my-2">
            <p>Hora: {datos.HoraCeremonia}</p>
            <p>Fecha: {datos.Fecha}</p>

        </div>
        <div>
            <h3 class="font-bold text-center">Lugar de Recepción</h3>
            <a href={datos.UrlComoLlegar}>{datos.LugarRecepcion}</a>
        </div>
        <div class="text-center my-2">
            <p>Hora: {datos.HoraRecepcion}</p>

        </div>
       





</div>